@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.2;
}

button {
  background: none;
  cursor: pointer;
}

input {
  border: 0;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-ms-clear {
  display: none;
}

:focus,
:active {
  outline: none;
}

a,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.section-mb-default section {
  margin-bottom: 3.5rem;
}
.section-mb-default section:last-child {
  margin-bottom: 0;
}

@media (max-width: 1170px) {
  .container {
    padding: 0 3%;
  }
}
.text-error {
  color: rgb(239, 13, 22);
}

.input {
  border: 1px solid black;
  font-weight: 600;
  padding: 0.75rem 1.25rem;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.input._error {
  border: 1px solid rgb(239, 13, 22);
}

.button-circle {
  background: rgb(77, 219, 101);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 200ms;
  transition: 200ms;
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
}
.button-circle:hover {
  background: rgb(69, 197, 91);
}
.button-circle:active {
  background: rgb(61, 171, 79);
}

.page-404 .page-404__title {
  font-size: 3rem;
}
.page-404 .page-404__subtitle {
  font-size: 1.25rem;
}

.list {
  max-height: 100vh;
}
.list .list__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.25rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #3a095a #5e168d;
  max-height: 100%;
}
.list .list__company::-webkit-scrollbar {
  width: 12px;
  /* ширина scrollbar */
}
.list .list__company::-webkit-scrollbar-track {
  background: #5e168d;
  /* цвет дорожки */
}
.list .list__company::-webkit-scrollbar-thumb {
  background-color: #3a095a;
}
.list .list__company_href {
  color: #fff;
  display: inline-block;
}
.list .list__company_href:hover {
  text-decoration: underline;
}
.list .list__company_more {
  color: #fff;
}
@media (max-width: 768px) {
  .list .list__company {
    max-height: 50vh;
  }
}

html, body {
  font-family: Arial;
  font-size: 16px;
  font-weight: 600;
  min-height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
}

.main {
  background: #6301a2;
  color: #fff;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 3rem;
}

.main__title {
  font-size: 1.75rem;
  font-weight: 600;
}

.form__title {
  margin-bottom: 1.5rem;
}

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1rem;
}
.form__inputs .text-error {
  margin-top: -0.75rem;
}

.form__button {
  margin-top: 1.25rem;
  margin-left: auto;
}

.info__subtitle, .info__item_title {
  font-size: 1rem;
  margin-bottom: 0.625rem;
}

.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1rem;
}

.info__item_data {
  font-size: 1.25rem;
}

.map {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  position: relative;
}
@media (max-width: 768px) {
  .map {
    min-height: 75vh;
  }
}

.search {
  background: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  padding: 1.25rem;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  z-index: 100000;
}
.search .search__input {
  width: 100%;
}
.search .search__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

@media (max-width: 768px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}